<main id="mod-details" *ngIf="mod() as mod">
  <!-- IMAGE -->
  <div class="image">
    <img
      [src]="imageUrl()"
      loading="lazy"
      decoding="async"
      [ngClass]="{ censor: blur() }"
    />
  </div>

  <!-- CONTENT -->
  <section class="content">
    <!-- HEADER -->
    <header class="header">
      <h1>{{ mod.json?.modName || mod.folderName }}</h1>

      <span
        class="status"
        [class.active]="mod?.json?.active"
        [class.inactive]="!mod?.json?.active"
      >
        {{ mod.json?.active ? "Active" : "Inactive" }}
      </span>
    </header>

    <!--  UPDATE  -->
    <section class="update-banner" *ngIf="hasUpdate()">
      <div class="info">
        <i class="fa-solid fa-arrow-rotate-right"></i>
        <span>
          New version available
          <small>
            Last update:
            {{ availableUpdate() | date : "mediumDate" }}
          </small>
        </span>
      </div>

      <button
        mat-flat-button
        color="primary"
        (click)="handleUpdateExistindMod()"
      >
        Update
      </button>
    </section>

    <!-- TOOLBOX -->
    <section class="toolbox" *ngIf="hasGameBananaUrl()">
      <button mat-flat-button (click)="handleGetModDataFromGBanana()">
        <i class="fa-solid fa-cloud-arrow-down"></i>
        Sync from GameBanana
      </button>

      <button
        mat-stroked-button
        *ngIf="hasGbananaImage()"
        (click)="handleSaveModDetails()"
      >
        <i class="fa-solid fa-image"></i>
        Save Image
      </button>

      <button
        mat-stroked-button
        *ngIf="hasGbananaImage()"
        (click)="handleSaveMetadata()"
      >
        <i class="fa-solid fa-list"></i>
        Save Metadata
      </button>
    </section>

    <!-- META -->
    <section class="meta-grid" *ngIf="!editMode() && mod.json">
      <div class="item">
        <i class="fa-solid fa-user"></i>
        <span>Character</span>
        <strong>{{ mod.json.character | agentName }}</strong>
      </div>

      <div class="item description">
        <i class="fa-solid fa-align-left"></i>
        <span>Description</span>
        <strong class="clamp">
          {{ mod.json.description || "None" }}
        </strong>
      </div>

      <div class="item">
        <i class="fa-regular fa-calendar"></i>
        <span>Installed</span>
        <strong>{{
          (mod.json.localInstalledAt | date : "mediumDate") || "N/A"
        }}</strong>
      </div>

      <div class="item">
        <i class="fa-regular fa-calendar"></i>
        <span>Last update</span>
        <strong>{{
          (mod.json.localUpdatedAt | date : "mediumDate") || "N/A"
        }}</strong>
      </div>

      <div class="item full">
        <i class="fa-solid fa-link"></i>
        <span>URL</span>
        <strong class="link" (click)="handleOpenExternalUrl()">
          {{ mod.json.url }}
        </strong>
      </div>

      <div class="item full">
        <i class="fa-regular fa-keyboard"></i>
        <span>Hotkeys</span>
        <div class="keys">
          @for (key of mod.json.hotkeys; track $index) {
          <span>{{ key.description }}: {{ key.key }}</span>
          } @empty {
          <span class="empty">None</span>
          }
        </div>
      </div>
    </section>

    <!-- EDIT MODE -->
    <form [formGroup]="form" *ngIf="editMode()" class="edit-form">
      <mat-form-field>
        <mat-label>Mod Name</mat-label>
        <input matInput formControlName="modName" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Character</mat-label>
        <input
          type="text"
          matInput
          formControlName="character"
          [matAutocomplete]="auto"
          #trigger
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredAgents$ | async; track option.id) {
          <mat-option [value]="option">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput formControlName="url" />
      </mat-form-field>
    </form>
  </section>

  <!-- ACTIONS -->
  <section class="actions">
    <div class="primary-actions">
      <button
        mat-flat-button
        class="primary"
        [class.danger]="mod.json?.active"
        (click)="mod.json?.active ? handleRemoveMod() : handleActivateMod()"
      >
        {{ mod.json?.active ? "Disable" : "Activate" }}
      </button>
    </div>

    <div class="secondary-actions">
      <button mat-stroked-button (click)="scanKeys()">Detect keybinds</button>

      <button mat-stroked-button (click)="handleOpenModFolder()">
        Open folder
      </button>

      <button mat-stroked-button (click)="toggleEditMode()">
        Edit details
      </button>

      <button mat-stroked-button (click)="closeDialog()">Close</button>
    </div>
  </section>
</main>
