#mod-details {
  width: 99%;
  color: white;
  height: 100%;
  overflow: auto;
  padding-top: 8px;

  background: rgba(15, 15, 15, 0.85);
  backdrop-filter: blur(15px); // Efeito de vidro moderno
  border-left: 2px solid #f7ff00;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);

  .image {
    display: flex;
    justify-content: center;
    img {
      // width: 100%;
      max-height: 35dvh;
      aspect-ratio: 1.5;
      margin: auto;
    }
  }

  .details {
    padding: 12px;
    height: calc(50dvh + 56px);
    overflow: auto;

    .metadata-actions {
      display: flex;
      gap: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    div {
      margin-bottom: 16px;

      i {
        margin-right: 8px;
        cursor: pointer;
      }
    }

    .keys {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      margin-top: 8px;
      span {
        margin-bottom: 8px;
        border: 1px black solid;
        border-radius: 8px;
        padding: 8px;
        width: fit-content;
      }
    }
  }

  .actions {
    display: flex;
    height: 64px;
    padding: 12px;
    gap: 24px;
  }
}
