#mod-details {
  width: 100%;
  color: white;

  .image {
    img {
      width: 100%;
      aspect-ratio: 1.5;
    }
  }

  .details {
    padding: 12px;
    div {
      margin-bottom: 8px;

      i {
        cursor: pointer;
      }
    }

    .keys {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      span {
        margin-bottom: 8px;
        border: 1px black solid;
        border-radius: 8px;
        padding: 8px;
        width: fit-content;
      }
    }
  }

  .actions {
    position: absolute;
    bottom: 0;
    padding: 24px;
    display: flex;
    gap: 24px;
  }
}
