<main id="main">
  <div
    class="dropzone"
    [ngClass]="{ 'has-image': previewUrl(), dragging: isDragging }"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <img [src]="previewUrl()" *ngIf="previewUrl()" />
    <div class="drop-zone-content">
      <mat-icon class="icon" *ngIf="!previewUrl()">upload</mat-icon>

      <p class="title">Arraste o mod aqui</p>
      <p class="subtitle">ou solte um arquivo .zip / .rar</p>

      <p class="file" *ngIf="file">📦 {{ file.name }}</p>
    </div>
  </div>

  @if (data.mode === "install") {
    <section class="form-section">
      <form [formGroup]="form" class="form">
        <mat-form-field appearance="fill">
          <mat-label>Agent</mat-label>
          <input
            type="text"
            matInput
            formControlName="character"
            [matAutocomplete]="auto"
            #trigger
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (option of filteredAgents$ | async; track option.id) {
              <mat-option [value]="option">{{ option.name }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mod Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>URL</mat-label>
          <input matInput formControlName="url" />
        </mat-form-field>
      </form>
    </section>
  }

  <section class="actions">
    <button
      mat-flat-button
      color="primary"
      [disabled]="disableSubmit"
      (click)="confirm()"
    >
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isInstalling"
      ></mat-progress-bar>
      {{ data.mode === "install" ? "Install mod" : "Update mod" }}
    </button>

    <button mat-button (click)="closeDialog()">Cancel</button>
  </section>
</main>
