.titlebar {
  -webkit-app-region: drag;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  button {
    -webkit-app-region: no-drag;
  }

  i {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
