<main id="mod-list">
  <section class="header">
    <i class="fa-solid fa-rotate-right" (click)="handleRefreshMods()"></i>
    <i class="fa-solid fa-circle-plus" (click)="handleAddNewMod()"></i>

    @if(blur()) {
    <i class="fa-solid fa-eye-low-vision" (click)="toggleBlur()"></i> } @else {
    <i class="fa-solid fa-eye" (click)="toggleBlur()"></i>
    }
    <i class="fa-solid fa-gear" (click)="openConfigDialog()"></i>
  </section>
  @if(selectedAgent()) {
  <h1>{{ selectedAgent()!.name | agentName }} mods</h1>
  <section class="list-wrapper">
    @for (agentMod of selectedAgent()?.mods; track agentMod.folderName) {
    <div
      class="mod-card"
      [ngClass]="{ blur: blur(), active: agentMod.json?.active }"
    >
      <div class="image">
        <img
          [src]="agentMod.previewPath || ''"
          (click)="openDetailsDialog(agentMod)"
        />
        <div>
          @if(agentMod?.json?.active){
          <button
            mat-flat-button
            color="warn"
            (click)="handleDisableMod(agentMod)"
          >
            Disable
          </button>
          } @else {
          <button
            mat-flat-button
            color="primary"
            (click)="handleActivateMod(agentMod)"
          >
            Activate
          </button>
          }
        </div>
      </div>

      <div class="content" (click)="openDetailsDialog(agentMod)">
        <span class="truncate">{{
          agentMod.json?.modName || agentMod.folderName
        }}</span>
      </div>
    </div>
    } @empty { Agente não possue mods. }
  </section>
  } @else {
  <span>Nenhum agente selecionado.</span>
  }
</main>
