<main id="navbar">
  <section
    class="navbar-container"
    [ngClass]="{ grid: navbarStyle() === navbarTypeEnum.GRID }"
  >
    @for (item of agentsWithMods(); track item.agent.id) {
      @if (item.hasMods || !hasAnyMods()) {
        <div
          class="navbar-item"
          (click)="handleSelectAgent(item.agent)"
          [ngClass]="{
            selected: selectedAgent()?.id === item.agent.id,
            grayscale: !item.hasMods,
          }"
        >
          <img
            [ngSrc]="'assets/char-portraits/' + item.agent.id + '.png'"
            fill
          />
          <span class="agent-name">
            {{ item.agent.name | agentName }}
          </span>
        </div>
      }
    }
  </section>
</main>
