#navbar {
  .navbar-container {
    height: 99dvh;
    overflow: auto;
    width: 20dvw;
    max-width: 290px;

    .navbar-item {
      height: 70px;
      width: 20dvw;
      margin-bottom: 12px;
      max-width: 270px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      position: relative;

      .agent-name {
        display: none;
      }

      &.selected {
        font-size: 1.1em;
        font-weight: bold;
        width: calc(20dvw - 8px);

        img {
          border: 4px var(--main-color) solid;
        }
      }

      &.grayscale {
        img {
          filter: grayscale(100%);
        }
      }
    }

    &.grid {
      width: 220px;
      padding: 8px;
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      gap: 12px;

      .navbar-item {
        width: 90px;
        img {
          object-fit: cover;
        }

        .agent-name {
          display: inline;
          color: white;
          -webkit-text-stroke: 3px black;
          margin-top: auto;
          z-index: 1;
          font-size: 1.2rem;
          paint-order: stroke fill;
          word-break: keep-all;
        }
      }
    }
  }
}
