<main id="config-dialog">
  <section class="header">
    <h1>App Configs</h1>
  </section>
  <section class="content">
    @if(configsForm) {
    <form [formGroup]="configsForm">
      <mat-form-field appearance="fill">
        <mat-label>Blur</mat-label>
        <mat-select formControlName="blur">
          <mat-option [value]="true">Enabled</mat-option>
          <mat-option [value]="false">Disabled</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Source</mat-label>
        <input type="text" matInput formControlName="sourcePath" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Target</mat-label>
        <input type="text" matInput formControlName="linkPath" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Navbar Type</mat-label>
        <mat-select formControlName="navbarType">
          <mat-option value="list">List</mat-option>
          <mat-option value="grid">Grid</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    }
  </section>
  @if(symLinkSyncProgress() > 0){
  <section class="progress">
    <mat-progress-bar
      mode="determinate"
      [value]="symLinkSyncProgress()"
      color="primary"
    ></mat-progress-bar>
    {{ symLinkSyncProgress() + " %" }}
  </section>
  }

  <section class="actions">
    <button mat-flat-button color="primary" (click)="handleSaveConfig()">
      Save
    </button>

    <button mat-flat-button color="primary" (click)="handleSyncSymlinks()">
      Sync Symlinks
    </button>

    <button mat-flat-button color="secondary" (click)="closeDialog()">
      Close
    </button>
  </section>
</main>
